@model ProvidenceClinics.Models.s_AppointmentDetail

@{
    ViewBag.Title = "Details AppointmentDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Details AppointmentDetail</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/s_AppointmentDetail/Index">AppointmentDetail</a></li>
                        <li class="breadcrumb-item active">Details AppointmentDetail</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>About Me</h4>
                            <dl class="dl-horizontal">

                                <dt>
                                    AppointmentID
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.s_Appointment.AppointmentID)
                                </dd>

                                <dt>
                                    Details
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Detail)
                                </dd>

                            </dl>

                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <footer>
        <p>Copyright © 2024 ProvidenceClinic.</p>
    </footer>

</div>

>
