<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="submenu active">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="\Home\index" class="active">Admin Dashboard</a></li>
                        <li><a href="\Home\Appointment">Appointment Dashboard</a></li>
                        <li><a href="\Home\Ecommerce">Ecommerce Dashboard</a></li>
                        <li><a href="\Home\Education">Education Dashboard</a></li>
                    </ul>
                </li>


                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fas fa-clinic-medical"></i> <span>Appointment System</span> <span class="menu-arrow"></span></a>
                    <ul>

                        <li class="submenu">
                            <a href="\s_Appointment\Index"><i class="fas fa-bookmark"></i> <span> Appointment </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_Appointment\Index">Appointment List</a></li>
                                <li><a href="\s_Appointment\Create">Appointment Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\s_AppointmentDetail\Index"><i class="fas fa-bookmark"></i> <span> AppointmentDetails </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_AppointmentDetail\Index">Details List</a></li>
                                <li><a href="\s_AppointmentDetail\Create">Detail Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\s_Doctor\Index"><i class="fas fa-user-graduate"></i> <span> Doctor</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_Doctor\Index">Doctor List</a></li>
                                <li><a href="\s_Doctor\Create">Doctor Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\s_DoctorSchedule\Index"><i class="fas fa-user-clock"></i> <span>Doctor Schedule </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_DoctorSchedule\Index">Schedule List</a></li>
                                <li><a href="\s_DoctorSchedule\Create">Schedule Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\s_Specialist\Index"><i class="fas fa-hospital-user"></i> <span> Specialist </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_Specialist\Index">Specialist List</a></li>
                                <li><a href="\s_Specialist\Create">Specialist Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\s_Patient\Index"><i class="fas fa-user-injured"></i> <span> Patient</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_Patient\Index">Patient List</a></li>
                                <li><a href="\s_Patient\Create">Patient Add</a></li>
                            </ul>
                        </li>


                        <li class="submenu">
                            <a href="\s_LabTest\Index"><i class="fas fa-table"></i> <span> Lab Test </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_LabTest\Index">Lab Test List</a></li>
                                <li><a href="\s_LabTest\Create">Lab Test Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\s_LabTestPrescription\Index"><i class="fas fa-table"></i> <span> Lab/Prescription Test </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_LabTestPrescription\Index">Lab/Prescription Test List</a></li>
                                <li><a href="\s_LabTestPrescription\Create">Lab/Prescription Test Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\s_Prescription\Index"><i class="fas fa-table"></i> <span> Prescription Test </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_Prescription\Index">Prescription Test List</a></li>
                                <li><a href="\s_Prescription\Create">Prescription Test Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\s_Status\Index"><i class="fas fa-hourglass-start"></i> <span> Status </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_Status\Index">Status List</a></li>
                                <li><a href="\s_Status\Create">Status Add</a></li>
                            </ul>
                        </li>


                        <li class="submenu">
                            <a href="\s_Feedback\Index"><i class="fas fa-book-reader"></i> <span> Feedback </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_Feedback\Index">View Feedback</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fas fa-school"></i> <span>Education System</span> <span class="menu-arrow"></span></a>
                    <ul>
                        
                        <li class="submenu">
                            <a href="\e_enrollments\Index"><i class="fas fa-user-graduate"></i> <span> Enrollments</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\e_enrollments\Index">Enrollments List</a></li>
                                <li><a href="\e_enrollments\Create">Enrollment Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\e_students\Index"><i class="fas fa-user-graduate"></i> <span> Student</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\e_students\Index">Student List</a></li>
                                <li><a href="\e_students\Create">Student Add</a></li>>
                            </ul>
                        </li>


                        <li class="submenu">
                            <a href="\e_staff\Index"><i class="fas fa-chalkboard-teacher"></i> <span>Staff</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\e_staff\Index">Staff List</a></li>
                                <li><a href="\e_staff\Create">Staff Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\e_staff_type\Index"><i class="fas fa-chalkboard-teacher"></i> <span>Staff Type </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\e_staff_type\Index">SType List</a></li>
                                <li><a href="\e_staff_type\Create">SType Add</a></li>
                            </ul>
                        </li>
                        
                        <li class="submenu">
                            <a href="\e_lsp\Index"><i class="fas fa-book-medical"></i> <span> lec/semi/prac </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\e_lsp\Index">lec/semi/prac List</a></li>
                                <li><a href="\e_lsp\Create">lec/semi/prac Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\e_lsp_type\Index"><i class="fas fa-book-medical"></i> <span> lec/semi/prac Type </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\e_lsp_type\Index">lec/semi/prac Type List</a></li>
                                <li><a href="\e_lsp_type\Create">lec/semi/prac Type Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\e_class\Index"><i class="fas fa-building"></i> <span> Class</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\e_class\Index">Class List</a></li>
                                <li><a href="\e_class\Create">Class Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\e_subject\Index"><i class="fas fa-book-open"></i> <span> Subject </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\e_subject\Index">Subject List</a></li>
                                <li><a href="\e_subject\Create">Subject Add</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>



                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fas fa-shopping-cart"></i> <span>E-Commerce System</span> <span class="menu-arrow"></span></a>
                    <ul>


                        <li class="submenu">
                            <a href="#"><i class="fas fa-cart-arrow-down"></i> <span>Medicines</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\m_medicines\Index">Medicines List</a></li>
                                <li><a href="\m_medicines\Create">Medicines Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-cart-arrow-down"></i> <span> Medicine Type </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\m_types\Index">MType List</a></li>
                                <li><a href="\m_types\Create">MType Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-cart-arrow-down"></i> <span>S Products </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_Product\Index">Products List</a></li>
                                <li><a href="\s_Product\Create">Product Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\m_customers\Index"><i class="fas fa-user"></i> <span> Customer</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\m_customers\Index">Customer List</a></li>
                                <li><a href="\m_customers\Create">Customer Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-chart-pie"></i> <span>M Order</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\m_orders\Index">Order List</a></li>
                                <li><a href="\m_orders\create">Order Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-chart-pie"></i> <span>M OrderDetails </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\m_order_details\Index">OrderDetails List</a></li>
                                <li><a href="\m_order_details\Create">OrderDetails Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-chart-line"></i> <span>S Order</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_orders\Index">Order List</a></li>
                                <li><a href="\s_orders\Create">Order Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-chart-line"></i> <span>S OrderDetails </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_order_details\Index">OrderDetails List</a></li>
                                <li><a href="\s_order_details\Create">OrderDetails Add</a></li>
                            </ul>
                        </li>


                        <li class="submenu">
                            <a href="#"><i class="fas fa-table"></i> <span> M Catagories </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\m_categories\Index">Catagories List</a></li>
                                <li><a href="\m_categories\Create">Catagory Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-table"></i> <span> M Suppliers </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\m_suppliers\Index">Suppliers List</a></li>
                                <li><a href="\m_suppliers\Create">Supplier Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-table"></i> <span> S Suppliers </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_suppliers\Index">Suppliers List</a></li>
                                <li><a href="\s_suppliers\Index">Supplier Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-table"></i> <span> S Catagories </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_categories\Index">Catagories List</a></li>
                                <li><a href="\s_categories\Create">Catagory Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-chart-bar"></i> <span> Transaction </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_Transaction\Index">Transaction List</a></li>
                                <li><a href="\s_Transaction\Create">Transaction Add</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fas fa-user-check"></i> <span>Registeration System</span> <span class="menu-arrow"></span></a>
                    <ul>

                        <li class="submenu">
                            <a href="\Registers\Index"><i class="fas fa-user-graduate"></i> <span> Registeration </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\Registers\Index">Registeration List</a></li>
                                <li><a href="\Registers\Create">Registeration Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\RegisterTypes\Index"><i class="fas fa-user"></i> <span> Registeration Type </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\RegisterTypes\Index">RType List</a></li>
                                <li><a href="\RegisterTypes\Create">RType Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\Countries\Index"><i class="fas fa-city"></i> <span> Country </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\Countries\Index">Country List</a></li>
                                <li><a href="\Countries\Create">Country Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\Cities\Index"><i class="fas fa-city"></i> <span> City </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\Cities\Index">City List</a></li>
                                <li><a href="\Cities\Create">City Add</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="\s_Contact\Index"><i class="fas fa-mail-bulk"></i> <span> Contact </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="\s_Contact\Index">View Contact</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>