<!doctype html>
<html class="no-js" lang="">

<!-- Mirrored from preview.hasthemes.com/taj-preview/taj/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Mar 2024 10:33:11 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>

    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- Font-Awesome css -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Flaticon css -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!-- venobox css -->
    <link rel="stylesheet" href="~/venobox/venobox.css" type="text/css" media="screen" />
    <!-- nivo slider css -->
    <link rel="stylesheet" href="~/lib/css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/css/preview.css" type="text/css" media="screen" />
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="~/http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!--Header Area Start-->
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 hidden-xs">
                        <div class="header-top-message pull-left">
                            <span><i class="fa fa-envelope"></i>taqis0300@gmail.com</span>
                            <span><i class="fa fa-phone"></i>03300243060</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header-top-menu pull-right">
                            <ul class="nav-menu">
                                <li><a href="/SignIn/Index">LOGIN</a></li>
                                <li>
                                    <a href="~/#">LANGLUAGE</a>
                                    <div class="ht-menu-down">
                                        <ul>
                                            <li><a href="~/#">English</a></li>
                                            <li><a href="~/#">Spansih</a></li>
                                            <li><a href="~/#">Garmany</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="~/#">CURRENCY</a>
                                    <div class="ht-menu-down">
                                        <ul>
                                            <li><a href="~/#">EUR</a></li>
                                            <li><a href="~/#">USD</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-2 col-xs-6">
                        <div>
                            <a href="/Home/Index">
                                <img src="~/img/Logo.png" width="500" height="500">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 hidden-xs">
                        <div class="mainmenu text-center">
                            <nav>
                                <ul id="nav">
                                    <li><a href="/Home/Index">HOME</a></li>
                                    <li><a href="/Product2/Index">SHOP</a></li>
                                    <li><a href="/SignUP/Index">SignUp</a></li>
                                    <li><a href="/Home/About">About</a></li>
                                    <li><a href="/Home/Contact">CONTACT</a></li>

                                    <li>
                                        <a href="#">Pages</a>
                                        <ul class="sub-menu"> 
                                            <li><a href="/Product2/AddProduct">Add Prod</a></li>
                                            <li><a href="\Product2\ShoppingCart">Cart Page</a></li>                   
                                        </ul>
                                    </li>



                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-6">
                        <div class="header-cart pull-right">
                            <ul>
                                <li>
                                    <a class="header-cart-link" href="~/#">
                                        <i class="flaticon-bag"></i>
                                        <span>2</span>
                                    </a>
                                    <div class="cart_down_area">
                                        <div class="cart_single">
                                            <a href="~/#">
                                                <img src="~/img/product/c-1.png" alt="">
                                            </a>
                                            <h2>
                                                <a href="~/#">Pellentesque hendrerit</a>
                                                <a href="~/#">
                                                    <span><i class="fa fa-trash"></i></span>
                                                </a>
                                            </h2>
                                            <p>1 x $222.00</p>
                                        </div>
                                        <div class="cart_single">
                                            <a href="~/#">
                                                <img src="~/img/product/c-2.png" alt="">
                                            </a>
                                            <h2>
                                                <a href="~/#">Pellentesque hendrerit</a>
                                                <a href="~/#">
                                                    <span><i class="fa fa-trash"></i></span>
                                                </a>
                                            </h2>
                                            <p>1 x $222.00</p>
                                        </div>
                                        <div class="cart_shoptings">
                                            <a href="~/checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header Area End-->
    <!-- Mobile Menu Start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li><a href="~/index.html">Home</a></li>
                                
                                <li>
                                    <a href="~/#">Pages</a>
                                    <ul>
                                        <li><a href="~/404.html">404 Page</a></li>
                                        <li><a href="~/about-us.html">About Us</a></li>
                                        <li><a href="~/cart.html">Cart Page</a></li>
                                        <li><a href="~/checkout.html">Checkout Page</a></li>
                                        <li><a href="~/contact.html">Contact Page</a></li>
                                        <li><a href="~/login.html">Login</a></li>
                                        <li><a href="~/my-account.html">My Account</a></li>
                                        <li><a href="~/shop.html">Shop Page</a></li>
                                        <li><a href="~/wishlist.html">Wishlist</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/contact-us.html">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu End -->
   @RenderBody()
    <!-- Footer Area Start -->
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-left">
                        <a href="\Home\Index">
                            <img src="~/img/logo.png" alt="">
                        </a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="~/#">
                                        <i class="flaticon-social"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/#">
                                        <i class="flaticon-social-1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/#">
                                        <i class="flaticon-symbols"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/#">
                                        <i class="flaticon-camera"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/#">
                                        <i class="flaticon-social-2"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget widget-contact-us">
                        <h2 class="footer-w-title">CONTACT US</h2>
                        <ul class="footer-list">
                            <li><p><span>Address: </span> Your address goes here</p></li>
                            <li><p><span>Phone: </span> 03300243060</p></li>
                            <li><p><span>Email: </span> taqis0300@gmailcom@gmail.com</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="footer-widget">
                        <h2 class="footer-w-title">CUSTOMER SERVICE</h2>
                        <ul class="footer-list">
                            <li><a href="\SignUp\Index">Your account</a></li>
                            <li><a href="\Home\Contact">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="footer-widget">
                        <h2 class="footer-w-title">MY ACCOUNT</h2>
                        <ul class="footer-list">
                            <li><a href="\SignUp\Index">My Account</a></li>
                            <li><a href="\SignIn\Index">Login</a></li>
                            <li><a href="\Product\ShoppingCart">My Cart</a></li>
                            <li><a href="\SignIn\Index">Checkout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="footer-widget">
                        <h2 class="footer-w-title">INFORMATION</h2>
                        <ul class="footer-list">
                            <li><a href="\Home\About">About Us</a></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Area End -->
    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright pull-left">
                        <p>Copyright Reserved © 2024 <b>ProvidenceCLinics</b></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="paypal-img pull-right">
                        <img src="~/img/paypal.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
    <!--Quickview Product Start -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="" src="~/img/new-product/quick-view.png">
                                </div>
                            </div>
                            <div class="product-info">
                                <h1>gaviscon</h1>
                                <div class="price-box">
                                    <p class="price"><span class="special-price"><span class="amount">$280.00</span></span></p>
                                </div>
                                <a href="~/product-details.html" class="see-all">See all features</a>
                                <div class="quick-add-to-cart">
                                    <form method="post" class="cart">
                                        <div class="numbers-row">
                                            <input type="number" id="french-hens" value="3">
                                        </div>
                                        <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                    </form>
                                </div>
                                <div class="quick-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social-icons">
                                            <li><a target="_blank" title="Facebook" href="~/#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                            <li><a target="_blank" title="Twitter" href="~/#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="~/#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a target="_blank" title="Google +" href="~/#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a target="_blank" title="LinkedIn" href="~/#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .product-info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Quickview Product-->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="~/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- jquery-ui js -->
    <script src="~/js/jquery-ui.min.js"></script>
    <!-- jquery countdown js -->
    <script src="~/js/jquery.countdown.min.js"></script>
    <!-- jquery countdown js -->
    <script type="text/javascript" src="~/venobox/venobox.min.js"></script>
    <!-- jquery Meanmenu js -->
    <script src="~/js/jquery.meanmenu.js"></script>
    <!-- wow js -->
    <script src="~/js/wow.min.js"></script>
    <!-- scrollUp JS -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <!-- plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Nivo slider js -->
    <script src="~/lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/lib/home.js" type="text/javascript"></script>
    <!-- main js -->
    <script src="~/js/main.js"></script>
</body>

<!-- Mirrored from preview.hasthemes.com/taj-preview/taj/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Mar 2024 10:33:42 GMT -->
</html>